@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.coloring-font {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* Navbaar design Starts */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
}

.navbar-logo-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-logo-and-title h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.nav-container .navbar-logo-and-title .coloring-font {
    color: #FF42A5;
}

.navbar-logo-and-title img {
    width: 80px;
    height: 40px;
}

.nav-container .navbar-icons {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


.navbar-icons .follow-us {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);


}

.navbar-icons .follow-us h3 {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}


/* Play like the goat section STARTs */
.play-like-the-goat-section {
    width: 90%;
    min-height: 10px;
    /* margin: 0 auto; */
    display: flex;
    gap: 25px;
    /* justify-content: start;
    align-items: center; */


}


.play-like-container {
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 130px;


}

.play-like-images {
    width: 50%;
    min-height: 50px;
}

.play-like-description h1 {
    font-size: 80px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}

.play-like-description h4 {
    color: #0B0223;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.play-like-container .play-like-icons-parts .play-like-icons p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 0;

}

.play-like-container .play-like-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    height: min-content;
    gap: 20px;
    margin-bottom: 15px;
    padding: 0;
}


.play-like-btn button {
    padding: 21px 40px;
    margin-right: 20px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.play-like-btn .btn-pink {
    background: #FF42A5;

}

.play-like-btn .btn-skyblue {
    background: #4EC5F7;
}

.play-like-images img {
    width: 100%;
    height: 100%;
}

.play-like-icons-parts {
    margin-bottom: 30px;
}


/* Online section games starts */
.online-games-sections {
    width: 80%;
    min-height: 20px;
    margin: 100px auto;
}

.online-games-title {
    width: 100%;
}

.online-games-sections h4 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 0;

}

.online-games-sections p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.cards-container {
    display: grid;
    width: 100%;
    min-height: 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 50px;

}

.cards-container .card-image-description p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.cards-container .card .card-image img {
    width: 100%;
    display: block;
    
}
.card-image{
    position: relative;
    border-radius: 16px;
   



}

.play-btn-on-img{
    width: 170px;
    height: 160px;
    position: absolute;
    top: 100px;
    left: 40px;
    margin-bottom: 5px;
    padding-bottom: 8px;
}

.cards-container .card .card-image .play-btn-on-img img{
    width: 70px;
    height:70px;
    margin: 4px auto;
    border: 4px solid red;
    border-radius: 50%;
     background-color: rgba(0, 0, 0, 1);

}


.play-btn-on-img h5{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    color: #f00404;
    text-shadow: 4px 4px  black;
}

.play-btn-on-img:hover{
    cursor: pointer;
    
}

.card-image:hover{
    border: 8px solid #f00404;
}
/* online section ends */

/* Games online starts */
.games-online {
    width: 80%;
    min-height: 20px;
    margin: 0 auto;
    display: flex;
    gap: 25px;
}

.games-online-image {
    width: 50%;
    height: auto;
    margin-right: 100px;
    position: relative;

}

.games-online-image img {
    width: 100%;
    height: auto;
    display: block;
}

.games-online-description {
    width: 50%;
    height: auto;
    padding: 140px 10px 0px 40px;

}

.games-online-description h1 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 650;
    text-align: left;
    margin: 0 0 10px 0;
}

.games-online-description p {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.games-online .small-image-gameOnline {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 70%;
}

/* Games Online Ends */

/* Groups os Icon section Starts */
.groups-of-icons-sections{
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 80px;
}
.groups-of-icons-container {
    width: 80%;
    min-height: 50px;
    margin: 100px auto;
    /* border: 1px solid black; */
    /* background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    margin-bottom:200px;
}

.icon-image{
    display: flex;
    justify-content: start;
    align-items: center;
    height: min-content;
    margin-bottom: 15px;
    padding: 0;
    gap: 18px;
    color: #0B0223;
    padding: 5px; 
    font-size: 17px;
    font-weight: 600;
    border-radius: 50px;
    background:rgba(255, 255, 255, 1);
}

.icon-image:hover{
    border: 2px solid  #FF42A5;
    color:  #FF42A5;
    cursor: pointer;
}



/* Footer section starts */

.footer{
    width: 100%;
    height: auto;
    border: 1px solid black;
    background: #0B0223;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 100px 0;

}
.info-container , .social-media, .Privacy-Policy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;

}

.social-media{
    gap: 60px;
}
.footer-logo-title{
    color: #FFF;
}
.info-container{
    color: #FFF;
font-size: 18px;
font-weight: 600;
}


