@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .navbar-icons {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .play-like-container {
        width: 100%;
        height: auto;
        padding: 10%
    }

    .play-like-images {
        width: 100%;
    }

    .play-like-btn {
        display: flex;
    }

    .play-like-description h1 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .play-like-description h4 {
        font-size: 24px;
        font-weight: 350;
    }

    .play-like-container .play-like-icons-parts .play-like-icons p {
        font-size: 15px;
        font-weight: 250;

    }

    .play-like-btn button {
        padding: 15px 20px;
        font-size: 15px;
        font-weight: 300;
    }

    .cards-container .card-image-description p {
        font-size: 11px;
        font-weight: 500;
    }

    .games-online{
            gap: 35px;
    }
    .games-online-image {
        
         margin-right: 5px;
        
    }
    .games-online-description {
        padding: 5px;
    }
    .games-online-description h1 {
        font-size: 25px;
        margin-top: 20px;
    }

}







/* For Mobile device */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;

    }

    .navbar-icons {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .play-like-the-goat-section {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .play-like-container {
        width: 100%;
        height: auto;
        padding: 10%
    }

    .play-like-images {
        width: 100%;
    }

    .play-like-btn {
        display: flex;
    }

    .play-like-description h1 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .play-like-description h4 {
        font-size: 24px;
        font-weight: 350;
    }

    .play-like-container .play-like-icons-parts .play-like-icons p {
        font-size: 15px;
        font-weight: 250;

    }

    .play-like-btn button {
        padding: 15px 20px;
        font-size: 15px;
        font-weight: 300;
    }

    .play-like-container .play-like-icons {
        gap: 7px;
    }

    .cards-container {

        grid-template-columns: 1fr;
    }

    .online-games-sections h4 {
        font-size: 20px;
        font-weight: 700;

    }

    .online-games-sections p {
        font-size: 10px;
        font-weight: 400;
    }

    .cards-container .card-image-description p {
        font-size: 11px;
        font-weight: 500;
        text-align: center;
    }
    .games-online{
        flex-direction: column-reverse;
        width: 100%;
    }
    .games-online-image{
        width: 80%;
        margin: 0 auto;
    }
    .games-online-description{
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .games-online-description h1{
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }
    .games-online-description p{
        text-align: center;
        font-size: 15px;
        font-weight: 350;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        text-shadow: 2px 2px 4px gray;
    }
    .groups-of-icons-container{
        width: 100%;
        flex-basis: 20px;

    }
}